*{
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Work Sans', sans-serif;
  
}


/* nav releted style */

.nav-containar{
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05); */
}

.nav-content {
  max-width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  object-fit: cover;
  gap: 20px;
}

.nav-logo p {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}

.nav-logo img {
  width: 86.041px;
  height: 40px;
}

.logo-color {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menus a {
  text-decoration: none;
  margin-right: 20px;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.btn-sd {
  padding: 10px 24px;
  background: rgba(11, 2, 35, 0.1);
  border-radius: 8px;
}

/* bannar releted style */

.bannar-section{
  display: flex;
  justify-content:space-between;
  max-width: 100%;
  text-align: center; 
  background-size:cover;
  margin: 0 auto;

}
.bannar-img img{
  width:50%;
  height: 700px;
  margin-right: 270px;
}

.bannar-title{
 width: 50%;
padding-top: 148px;
padding-left: 148px 244px ;
 background-image: url('./images/Group\ 14.png');
 background-repeat: no-repeat;
 background-size: cover;
}

.bannar-title h2{
  color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin:0 ;
}

.bannar-title h1{
  text-align: center;
font-size: 95px;
font-weight: 800;
text-transform: uppercase;
margin: 0;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.bannar-title h6{
color: #534C64;
font-size: 20px;
font-style: normal;
font-weight: 500;

}

.btn-primary{
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
border: 0;
background:linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
color: #FFF;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
}

.btn-primary:hover{
  transform: rotate(360deg);
  transition: 2s;
  background-color: #4EC5F7;
}
.bg-primary:hover{
  transform: rotate(360deg);
  transition: 2s;
}

.bg-primary{
  padding: 21px 40px;
  gap: 10px;
  border: 0;
  border-radius: 48px;
 background-color: #4EC5F7;
 color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 600;
text-transform: uppercase;
}

/* 1st optional section  */
.optional-section{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.optional-title{
  text-align: right;
}
.optional-title p{
  width: 520px;
  color: #534C64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
.optional-title h1{
  text-align: right;
font-size: 48px;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.optional-title h6{
  color: #534C64;
  font-family: Work Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}
.op-title{
  color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 45px; /* 187.5% */
}

/* card releted style */

.card-containar{
  display:flex;
  justify-content: center;
  gap: 24px;
}
.card-section-title{
  text-align: center;
  margin-top: 120px;
}
.card-title{
  color: #0B0223;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card-title span{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card-des{
  color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
margin-bottom: 48px;
}

.card-content h6{
  width: 342px;
  color: #534C64;
font-size: 20px;
font-weight: 500;
line-height: 30px; 
}

.card-content img:hover{
  border: 8px solid #F948B2;
  transform:  scale(1.1);
  transition: all 1s linear 0.5s;
  border-radius: 50px;
  cursor: pointer;
}

/* rectangle-section releted style */

.rectangle-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 120px;

}
.rectangle-section h1{
  text-align: right;
font-size: 48px;
font-weight: 700;
line-height: 60px; 
}

.rectangle-section span{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.rectangle-section p{
  width: 353px;
  color: #534C64;
text-align: right;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
}
.box-img{
  position: relative;
  bottom: 200px;
  right: 150px;
  max-width: 318.5px;
height: 365.083px;
border-radius: 8px;
border: 10px solid #FFF;
background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
}

/* bonus releted style */

.bonus-section{
  width: 100%;
  height: 821px;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bonus-title h1{
  color: #FFF;
font-size: 48px;
font-weight: 700;
line-height: 60px; 
margin-right: 240px;
margin-bottom: 24px;
}

.bonus-title p{
  width: 680px;
  color: #FFF;
font-size: 18px;
font-weight: 400;
line-height: 30px; 

}

.bonus-des{
  display: flex;
  justify-content: center;
  gap: 94px;
  margin-top: 32px;
  margin-bottom: 60px;
}

.bonus-list h5{
  color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 40px; 
text-align: right;

}
.bonus-list h4{
  color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 40px; 
text-align: left;

}

.bonus-img img{
  width: 100%;
  left: 0;
}








/* jonra releted style */


.jonra-section{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
  cursor: pointer;
  margin-top: 150px;
}
.box{
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 50px;
background: #FFF;

}

.box:hover{
  border: 2px solid  #fb0b87;
  padding: 10px;
  border-radius: 50px;
  transform: scale(1.2);
  transition: 1s;
}

/* footer releted style */

.footer-section{
  width: 100%;
height: 636px;
background: #0B0223;
margin-top: 150px;
}

.footer-title{
  color: #FFF;
font-size: 45px;
font-weight: 700;
}
.about-list{
  display:flex;
  justify-content: center;
  gap: 60px;
 
}
.about-list h6{
  color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.footer-icon{
  text-align: center;
  margin-top: 66px;
 width: 100%;
}
.footer-icon .fa-brands{
  margin-right: 40px;
 font-size: 70px;
 gap: 40px;
}

.footer-service{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  gap: 60px;
  color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
}

.end-item{
  text-align: center;
  margin-top: 28px;
  color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 500;
}

.footer-name{
  text-align: center;
  margin-top: 30px;
font-size: 1.4rem;
font-weight: 50;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
 cursor: pointer;

}

.footer-name:hover{
   border: 1px solid #F948B2;

}